# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.py[cod]
*.env
*.venv
*.env.*

# Django stuff:
*.log
*.pot
*.py[cod]
db.sqlite3
media/
staticfiles/
static_root/
*.sqlite3

# VS Code / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Node (if using npm / frontend)
node_modules/
dist/
.env.local
.next/
out/

# Coverage reports
htmlcov/
.coverage
